{% import 'macros.html' as m %}

{% extends "base.html" %}

{% block content %}
    <div class="article-container">
        <h2 id="title">{{ article.title }}</h2>
        <div class="article-date">{{ article.date | datetimeformat }}</div>
        
        <div class="article-tags">
            <ul>
                {% for tag in article.tags %}
                <li class="tag-item">
                    {{ m.tag_link(tag) }}
                </li>            
                {% endfor %}
            </ul>
        </div>

        <img class="separator" src="{{ SITEURL }}/theme/assets/article-div.svg">

        <main class="article-content">
            {{ article.content }}
        </main>


        {% if article.uuid %}
            <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                    var disqus_config = function () {
                    this.page.url = "{{ SITEURL }}/{{ article.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ article.uuid }}";
                    };
    
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://gdelgado-ca.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
    
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}


        </div>
{% endblock%}
