<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="{{ AUTHOR }}">

    {% if DESCRIPTION %}
      <meta name="description" content="{{ DESCRIPTION }}">
    {% endif %}

    {% block head %}
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/reset.css" />
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
      <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div id="author-logo">{{ AUTHOR }}</div>
      <div id="nav">
        {% for title, link in MENUITEMS %}
        <a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
        {% endfor %}
      </div>
    </header>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <footer>
      {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}

      {% for title, link in LINKS %}
        <a href="{{ link }}" >{{ title }}</a>
      {% endfor %}
    </footer>
  </body>
</html>
