{% if page.title == "Newsletter Embed Hack" %}
    {% extends "base-embed.html" %}

    {% block embedcontent %}
        <style>
          body {
            display: block;
          }
        </style>

        {% include 'include/newsletter-form.html' %}
    {% endblock %}
{% else %}
    {% extends "base.html" %}

    {% block title %}{{ page.title }} | {% endblock %}

    {% block content %}
        <div class="page-container">
            <h2>{{ page.title }}</h2>

            {{ page.content }}
            
            {% if page.title == "Newsletter" %}
                {% include 'include/newsletter-form.html' %}
            {% endif %}
        </div>
    {% endblock %}
{% endif %}
